.Navigation {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    border: solid red;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;


    nav {
        margin-top: 1.1rem;

    }
}